@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Fredoka+One&family=Mulish:ital,wght@0,200;0,300;1,200&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
