@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Fredoka+One&family=Mulish:ital,wght@0,200;0,300;1,200&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root{
    --font-primary: "Baloo Da 2", serif;
    --font-secundary: "Muli", serif;
}

a {
    color: white;
    opacity: 0.5;
    text-decoration: none;
    transition: 0.1s;
}

a:hover {
    opacity: 1;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(0, 0, 0);
    height: 7vh;
    opacity: 0.7;
}
.logo{
    font-size: 24px;
    font-family: var(--font-secundary);
    text-transform: uppercase;
    letter-spacing: 4px;
    opacity: 0.7;
}
.nav-list{
    display: flex;
    justify-content: space-around;

}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
    font-family: var(--font-primary);
    font-weight: bold;
}
.redes_sociais{
    display: flex;
    justify-content: space-around;
}

.redes_sociais i{
    background-color: black;
    color: rgb(148, 139, 139);
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color .7s;
}

.redes_sociais i:hover{
    background-color: rgb(46, 41, 41);
}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper{

    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.5);
    
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    animation: efeito_abertura 3s;
}
@keyframes efeito_abertura {
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.banner{
    position: absolute;
    top: 35%;
    left: 6%;

}
.banner h1{
    color: white;
    font-size: 3.5rem;
    font-family: var(--font-primary);
    font-weight: 200;
    text-shadow: .3rem .4rem 2px rgba(0,0,0,0.5);
    opacity: 0;
    animation: efeito_texto 5s .97s forwards;
}

.banner p{
    font-family: var(--font-primary);
    color: rgb(240, 236, 236);
    font-size: 2rem;
    text-shadow: .2rem .2rem rgba(27, 26, 26, 0.2);
    margin-bottom: 1rem;
    margin-left: 1rem;
    opacity: 0;
    animation: efeito_texto 5s .95s forwards;
}

.banner button{
    font-family: var(--font-secundary);
    color:rgb(0, 0, 0);
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    background: #304352;
    background: -webkit-linear-gradient(to left, #d7d2cc, #304352);
    background: linear-gradient(to left, #d7d2cc, #304352);
    padding: 1rem 3rem;
    border: none; 
    border-radius: 5rem;
    cursor: pointer;
    opacity: 0;
    animation: efeito_texto 5s .9s forwards;
}
@keyframes efeito_texto{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

@media (max-width: 480px) {
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color:rgb(0, 0, 0);
        height: 10vh;
        opacity: 0.7;
    }
    .logo{
        font-size: .5rem;
    }

    .redes_sociais{
        display: inline-block;
        
    }
    .redes_sociais i{
        background-color: black;
        color: rgb(148, 139, 139);
        height: 1rem;
        width: 1rem;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition: background-color .7s;
    }

    .nav-list li{
        font-size: 1rem;
        letter-spacing: 3px;
        margin-left: 10px;
        font-family: var(--font-primary);
        font-weight: bold;
    }
}
@media (max-width: 600px) {
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color:rgb(0, 0, 0);
        height: 10vh;
        opacity: 0.7;
    }

    .logo{
        font-size: .5rem;
    }

    .redes_sociais{
        display: flex;
        
    }
    .redes_sociais i{
        background-color: black;
        color: rgb(148, 139, 139);
        height: 1.5rem;
        width: 1.5rem;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition: background-color .7s;
    }

    .nav-list li{
        font-size: 1rem;
        letter-spacing: 3px;
        margin-left: 10px;
        font-family: var(--font-primary);
        font-weight: bold;
    }
}

